<!DOCTYPE html>
  <div class="header">
            
                <div class="slider">
                    <div class="leftside">
                        <div class="container">
                            <h2>La Badira</h2>
                            <br>
                            <p class="parag">
                              La Badira … un siècle de Hammamet  
                            </p>
                            <br>
                            <hr class="hr">
                            <br>
                            <p class="text">
                                Le nom "Badira : aussi lumineuse que la pleine lune" apparait comme une évidence .<br>
                             Dans la foulée, des dizaines d'artistes sont venus rechercher à Hammamet sa lumière,<br>
                                
                                
                            </p>
                            <br>
                            <hr class="hr">
                            
                            
                        </div>
                    </div>
                   
                    <div class="col50">
        <div class="img">
            <img src="assets/image/444.jpg" alt="">
        </div>   
       </div>
                </div>
                     
      </div>

        <!-- body content  -->
        <section class = "services sec-width" id = "services">
            <div class = "title">
                <h2>services</h2>
            </div>
            <div class = "services-container">
                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-utensils"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Restaurants & bars à l’hôtel La Badira </h2>
                    
                         <p>
                        A l’hôtel La Badira, la gastronomie est axée sur des produits locaux et de saison, magnifiés par de subtils mélanges d'épices du chef exécutif "Slim BETTAIEB" et mettant en valeur les produits du terroir. A découvrir au sein des 4 restaurants : un restaurant gastronomie tunisienne, un restaurant cuisine du monde, un restaurant-grill de plage et un salon petit-déjeuner.</p>
                        
                    </div>
                </article>
                <!-- end of single service -->
                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-swimming-pool"></i>
                        </span>
                    </div>
                    <div class = "service-content" >
                        <h2>Activités et loisir à l’hôtel La Badira Hammamet</h2>
                       <p> 
                       Pour que votre séjour à l’hôtel la Badira Hammamet soit encore plus agréable profitez de piscine intérieure couverte chauffée et accès extérieur par rideau d'eau, d’un salon de coiffure, nail bar, salle de fitness et salle de yoga. &nbsp;</p>

                     <p>   Plusieurs activités et prestations sont possibles à La Badira : Centre équestre de renommée internationale, club de plongée sous-marine certifié PADI, location de bateau, organisation d’excursions personnalisées (Grand sud, sites archéologiques), organisation d’anniversaires de mariage ou d’enterrement de vie de jeune fille… &nbsp;</p>

                       <p> 3 parcours de golf de 18 Trous sont à proximité de l’hôtel La Badira.   
                                 </p>
                       
                    </div>
                </article>
                <!-- end of single service -->
                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-broom"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Thalasso & Spa à l’hôtel La Badira Hammamet</h2>
                        <p>La Badira accueille le seul SPA BY Clarins du pays. Oscillant entre ombre et lumière, arborant cette touche orientale et ce luxe discret si cher à l'esprit de notre hôtel, le Spa By Clarins vous invite à vivre une expérience unique au sein de la Badira. Composé de plusieurs cabines, de hammams, de salles de yoga et de fitness, d'une tisanerie et d'une piscine chauffée semi-couverte, vous pourrez profiter de toute la gamme de soins et de massages en toute sérénité.</p>
                        
                    </div>
                </article>
                <!-- end of single service -->
                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-door-closed"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                    <h2>Evénements à l’hôtel La Badira Hammamet </h2>
                        <p>Notre lieu « la Badira » a été conçu pour faire de votre événement un moment unique. Dans un cadre élégant et fonctionnel, tout sera mis en œuvre pour que votre séminaire, incentive ou conférence marque les esprits et se déroule du mieux possible. Notre équipe, présente et disponible 7 jours / 7 saura vous concocter les meilleures prestations en termes d’organisation, de gastronomie et de nuitées et vous assurera un confort optimal.</p>
                    </div>
                </article>
                <!-- end of single service -->
            </div>
        </section>

        <div class = "book">
            <form class = "book-form">
                <div class = "form-item">
                    <label for = "checkin-date">Arrivée: </label>
                    <input type = "date" id = "chekin-date">
                </div>
                <div class = "form-item">
                    <label for = "checkout-date">Départ : </label>
                    <input type = "date" id = "chekout-date">
                </div>
                <div class = "form-item">
                    <label for = "adult">Adultes: </label>
                    <input type = "number" min = "1" value = "1" id = "adult">
                </div>
                <div class = "form-item">
                    <label for = "children">Enfants:</label>
                    <input type = "number" min = "1" value = "1" id = "children">
                </div>
                <div class = "form-item">
                    <label for = "rooms">Chambres: </label>
                    <input type = "number" min = "1" value = "1" id = "rooms">
                </div>
                <div class = "form-item">
                    <input type = "submit" class = "btn" (click)="gotoDispo()"  value = "Vérifier la disponibilité">
                </div>
            </form>
        </div>

        <section class = "rooms sec-width" id = "rooms">
            <div class = "title">
                <h2>Chambres</h2>
            </div>
            <div class = "rooms-container">
                <!-- single room -->
                <article class = "room">
                    <div class = "room-image">
                        <img src = "assets/image/27.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Suite Paul klee</h3>
                        <ul>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Bar à soleil
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                24h room service
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                               Accès VIP aéroport 
                            </li>
                        </ul>
                        <p>Nos suites Fell standards de 45 m2 disposent toutes d'une douche en 'open space'. La décoration, d'inspiration orientale, s'appuie sur l'artisanat local. Les camaieux de blanc et de beige lui apportent une touche de raffinement cher à l'esprit de notre hôtel.</p>
                        
                        <p class = "rate">
                            <span>Occupation/</span> 2 adultes
                        </p>
                        
                    </div>
                </article>
                <!-- end of single room -->
                <!-- single room -->
                <article class = "room">
                    <div class = "room-image">
                        <img src = "assets/image/28.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Suite Jean Cocteau</h3>
                        <ul>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                               3 salles de sous commissions de 15 à 60 personnes
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Pré check-in et check-out 
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                               iPad sur demande 
                            </li>
                        </ul>
                        <p>Chacune de nos 6 suites Legend de 160 m2 vous fera vivre une expérience unique. La piscine privée surplombant la mer et chauffée l’hiver, vous procurera un sentiment de zénitude et de sérénité alors que l'hiver, Jean Cocteau vous sera agréable de vous blottir au coin du feu, près de la cheminée.
                        </p>
                        <p>Grand artiste français ayant marqué le XXème siècle, Jean Cocteau était visionnaire & impresario de son temps.Charmé par Hammamet, qui à l’époque était une petite ville de pêcheurs, Jean Cocteau y séjourna à plusieurs reprises et s’en inspira pour créer ses œuvres littéraires et artistiques.Amoureux de l’art et de la tranquillité, la suite Jean Cocteau vous séduira par son univers singulier qui vous transportera dans le monde artistique des années 50 !</p>
                        <p class = "rate">
                          <span>Occupation/</span> 2 adultes
                        </p>
                        
                    </div>
                </article>
                <!-- end of single room -->
                <!-- single room -->
                <article class = "room">
                    <div class = "room-image">
                        <img src = "assets/image/37.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Suite Nour</h3>
                        <ul>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Play list musicale
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Accès VIP aéroport 
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Bar à soleil
                            </li>
                        </ul>
                        <p>Chacune de nos 6 suites Legend de 160 m2 vous fera vivre une expérience unique. La piscine privée surplombant la mer et chauffée l’hiver, vous procurera un sentiment de zénitude et de sérénité alors que l'hiver, il vous sera agréable de vous blottir au coin du feu, près de la cheminée.</p>
                        <p>Aristocrate roumain, George Sebastian, a fait d’Hammamet un lieu de villégiature entre les deux guerres, lui assurant ainsi une notoriété internationale.Fasciné par l’artisanat local, le blanc et le noir, il donne un tout nouveau cachet à l’architecture d’Hammamet, en revisitant son style.</p>
                        
                        <p>La suite Georges Sebastian retrace ce passé riche des années 30 où art de recevoir rimait avec fêtes somptueuses et cuisine divine.Une atmosphère légère et agréable vous y attend.</p>
                        <p class = "rate">
                            <span>Occupation/</span> 2 adultes
                        </p>
                        
                    </div>
                </article>
                <!-- end of single room -->
            </div>
        </section>


        <section class = "customers" id = "customers">
            <div class = "sec-width">
                <div class = "title">
                    <h2>Clients</h2>
                </div>
                <div class = "customers-container">
                    <!-- single customer -->
                    <div class = "customer">
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <h3>    
                           « Parfait du Début à la Fin »</h3>
                        <p>Professionnalisme, rigueur, courtoisie.Attentif à vos demandes, ils essayent de vous satisfaire . Je vous conseille le restaurant Kamilah il est excellent et le room service au top</p>
                        <img src = "assets/image/41.jpg" alt = "customer image">
                        <span>Laïla, France</span>
                    </div>
                    <!-- end of single customer -->
                    <!-- single customer -->
                    <div class = "customer">
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <h3>Superbe Hôtel</h3>
                        <p>  très beau et tres propre. Notre chambre avec vue sur la piscine était très belle.C’est un endroit intimiste.Cet hôtel m’avait été chaudement recommandé.
                       </p>
                        <img src = "assets/image/123.jfif" alt = "customer image">
                        <span>Olivia ,France</span>
                    </div>
                    <!-- end of single customer -->
                    <!-- single customer -->
                    <div class = "customer">
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <h3> Plus Haut Parfait</h3>
                        <p>Tout était parfait le personnel très professionnel (surtout Mme Khaoula qui nous a fait un acceuil parfait)
                        La propreté des chambres, le calme, la nourriture
                           </p>
                        <img src = "assets/image/kk.jpeg" alt = "customer image">
                        <span>Lisa ,Belgique</span>
                    </div>
                    <!-- end of single customer -->
                </div>
            </div>
        </section>
        <!-- end of body content -->

        
        <script src="script.js"></script>




    
