<!DOCTYPE html>
 

<section  class="banniere" id="banniere">

        <div class=" contenu">
            <h2> Introduction </h2>
            <p>  La Tunisie se trouve à la pointe nord de Afrique et n'est distante de l'Italie que d'une centaine de km. Elle est entourée au Nord et à l'Est par la Méditerranée, à l'Ouest par l'Algérie, et au Sud par la Libye.
            La Tunisie est francophone. Le Français est la deuxième langue enseignée après l'Arabe.
            Ses principales villes sont: Tunis,  Sfax, Sousse, Kairouan, et Bizerte. 
          
            </p>

            
        </div>
     </section>





     <section class="apropos" id="apropos">
    <div class="seven">
           <h1>A ne pas Manquer</h1>
           </div>
       </section> 

    <section 
class="images" id ="images">
    

    <div class="contenu">
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/21.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Tunis</h3>
                
            </div>

            
        </div>

        <div class="box">
            <div class="imbox" >
                <img src="assets/image/30.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Tataouine</h3>
                
            </div>

            
        </div>

        <div class="box">
            <div class="imbox" >
                <img src="assets/image/6.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Sidi bou said</h3>
                
            </div>
        </div>
<div class="box">
            <div class="imbox" >
                <img src="assets/image/40.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Djerbahood</h3>
                
            </div>
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/70.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Tozeur</h3>
                
            </div>
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/80.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>El Djem</h3>
                
            </div>
        </div>

<div class="box">
            <div class="imbox" >
                <img src="assets/image/13.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Béja</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/14.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Bizerte</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/16.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Gabès</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/k.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Kairouan</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/403.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Kébili</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/722.webp" alt="image">
                
            </div>

            <div class="text">
                <h3>Mahdia</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/17.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Monastir</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/18.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Nabeul</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/19.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Siliana</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/20.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Sousse</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/1.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Carthage</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/526.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Djerba</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/4000.jfif" alt="image">
                
            </div>

            <div class="text">
                <h3>Zaghouan </h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/23.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Tabarka</h3>
                
            </div>

            
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/25.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Aïn Draham</h3>
                
            </div>

            
        </div>
    </div>


    
</section>




   
   




