<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     

 </head>

    <header>

       <a href="#"  class="logo"> <span> Tunisie</span> Terre de lumière </a>
    <ul class="navbar">
        
        <div class="menuToggle" ></div>
    
        <li><a    (click)="gotoDecouvrir()"    >Découvrir la TUNISIE</a></li>
        <li><a    (click)="gotoExperiences()"      >Experiences </a></li>
        <li><a  (click)="gotoDestinations()"     > Destinations</a></li>
        <li><a   (click)="gotoInfospratiques()"     >Infos Pratiques</a></li>
      
       
        <a  class="btn-reserve"  (click)="gotocontact()" >contact</a>

    </ul>
</header>





  