.footer
{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color:#fff;
    padding: 20px 10px;
}

h1 
{
    font-weight: bold;
    color: #000;
    font-size: 20px;
}
p 
{
    color: #000;
    font-size: 1.3em;
}
a 
{
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}
a:hover 
{
    color: var(--primary-color);
}
i 
{
    padding: 0px 10px;
}
.col-lg-6  span{
    color: #1fbdfb;
    font-size: 2em;
}
