
<!DOCTYPE html>
<header class = "header" id = "header">

            <div class = "head-bottom flex">
                <h2>NICE AND COMFORTABLE PLACE TO STAY</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est quos veniam impedit numquam itaque voluptatum, dicta asperiores accusamus, eligendi neque ut incidunt, modi harum molestiae atque natus officia minima.</p>
                
            </div>
        </header>
        <html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title></title>
      <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
      
   </head>
   <body>
      <div class="section-container">
         <div class="columns image" >
            
         </div>
         <div class="columns content">
            <div class="content-container">
               <h5> SITUATION GEOGRAPHIQUE</h5>
               <p>
                 

La Tunisie se trouve à la pointe nord de l'Afrique et n'est distante de l'Italie que d'une centaine de km. Elle est entourée au Nord et à l'Est par la Méditerranée, à l'Ouest par l'Algérie, et au Sud par la Libye.

La Tunisie est une république dotée d'une constitution qui garantit notamment les droits de l'homme et  les libertés individuelles.  C'est aussi un pays francophone, le Français étant la deuxième langue enseignée après l'Arabe.

Ses principales villes sont: Tunis,  Sousse,  Sfax, Kairouan, et Bizerte.

La superficie de la Tunisie est de 163 610 km2 et sa population a atteint 11.4 millions habitants en 2017.

La monnaie nationale est le dinar tunisien qui vaut  0.30€  (Novembre 2018).
               </p>
               <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
               </p>
            </div>
         </div>
      </div>
      <div class="section-container">
         <div class="columns content">
            <div class="content-container">
               <h5> HISTOIRE</h5>
               <p>
                 

Depuis la préhistoire la Tunisie était habitée par les Numides, les ancêtres des berbères.

C'est en 814 avant JC que les Phéniciens installèrent un comptoir sur ses rives et bâtirent une ville qui devint par la suite Carthage dont le première reine fut Elyssa.

Trois guerres éclatèrent entre Carthage et Rome pendant lesquels Hannibal se distingua par son audace, en traversant les Alpes. Mais la victoire finale fut du côté de Rome et cette occupation dura de 146 av JC à 439 de notre ère.

Après l'invasion des vandales en 439 et celle des Byzantins en 533 ce sont les arabes qui s'y installèrent à partir de 647. Ils fondèrent Kairouan qui devint leur capitale et puis celle de tout le Maghreb. Ainsi l'Islam devint la religion officielle.
               </p>
               <p>
                  Plusieurs dynasties se succédèrent dont celles des Aghlabides, Fatimides, et Almoahadines.

En 1574 l'empire Ottoman annexa la Tunisie. Celle-ci prit fin en 1705 quand les Husseinites prirent le pouvoir et fondèrent leur dynastie qui dura jusqu'en 1957.

Durant cette période la France proclama un protectorat sur la Tunisie en 1881.

Le 20 mars 1956 la Tunisie obtint son indépendance et la république fut proclamée le 25 juillet 1957. C'est Bourguiba qui fut désigné président de la République. Il dirigea le pays de main de maître jusqu'à 1987 où il fut destitué par Ben Ali. Et depuis le pays sombra dans la dictature et la corruption.
               </p>
            </div>
         </div>
         <div class="columns image" >
           
         </div>
      </div>
     <div class="section-container">
         <div class="columns image" >
            
         </div>
         <div class="columns content">
            <div class="content-container">
               <h5>Why do we use it?</h5>
               <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
               </p>
               <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
               </p>
            </div>
         </div>
      </div>
      <div class="section-container">
         <div class="columns content">
            <div class="content-container">
               <h5>Why do we use it?</h5>
               <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
               </p>
               <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
               </p>
            </div>
         </div>
         <div class="columns image" >
           
         </div>
      </div>
     
   </body>
</html>