
<!DOCTYPE html>
<header class = "header" id = "header">

            <div class = "head-bottom flex">
                <h2>NICE AND COMFORTABLE PLACE TO STAY</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est quos veniam impedit numquam itaque voluptatum, dicta asperiores accusamus, eligendi neque ut incidunt, modi harum molestiae atque natus officia minima.</p>
                
            </div>
        </header>
<div id="liste_focus_accueil">
                <div class="bloc_focus_accueil">
            <div class="bloc_texte">
                <div class="cadre" style="padding-bottom:0">
                    
                    
                    <h2 class="entete" style="letter-spacing:-.1px">De la Carthage punique à la Carthage romaine</h2>
                    
                    <p class="indent">L'entrée de la Tunisie dans l'histoire se fait par l'expansion d'une cité issue d'une colonisation proche-orientale. La Tunisie accueille progressivement une série de comptoirs phéniciens comme bien d'autres régions méditerranéennes. Le premier comptoir selon la tradition est celui d'Utique, qui date de 1101 av. J.-C. </p>
                    <p> En 814 av. J.-C., des colons phéniciens venus de Tyr fondent la ville de Carthage.</p>

                    <p>D'après la légende, c'est la reine Élyssa (Didon pour les Romains), sœur du roi de Tyr Pygmalion, qui est à l'origine de la cité. Ouverte sur la mer, Carthage est également ouverte structurellement sur l'extérieur. </p>
                    <p> Un siècle et demi après la fondation de la ville, les Carthaginois ou Puniques étendent leur emprise sur le bassin occidental de la mer Méditerranée</p>      
                </div>

            </div>
            
            <div class="bloc_media">
                <div class="bloc gauche">
                    <div class="haut">
                        <a><img src= "assets/image/48.jpg" class="imagepetite" alt="Giverny gardens"></a>
                    </div>
                    
                    <div class="bas">
                        <a ><img src= "assets/image/45.jpg"  class="imagepetite" alt="Impressionists museum"></a>
                    </div>
                </div>
                
                <div class="bloc droite">
                    <a ><img src="assets/image/44.jpg" class="imagegrande" alt="Monet's house in Giverny"></a>
                </div>
            </div>
        </div>
    </div>
            




      
  <div id="liste_focus_accueil">
                <div class="bloc_focus_accueil">

            <div class="bloc_media">
                 <div class="bloc droite">
                    <a ><img src="assets/image/49.jpg" class="imagegrande0" alt="Monet's house in Giverny"></a>
                </div>
            </div>
            <div class="bloc_texte1">
                <div class="cadre" style="padding-bottom:0">
                    
                    
                    <h2 class="entete" style="letter-spacing:-.1px"> Ifriqiya dans le Moyen Âge arabo-musulman</h2>
                    
                    <p class="indent">La première expédition arabe sur la Tunisie est lancée en 650, à l'époque du calife Othmân ibn Affân. Commandée par Abd Allâh ibn Saad, l'armée arabe écrase l'armée byzantine du patrice Grégoire près de Sbeïtla.</p>

                    <p>En 666, une deuxième offensive menée par Mu'awiya ibn Hudayj à l'époque du calife omeyyade Muʿawiya Ier se termine par la prise de plusieurs villes dont Sousse et Bizerte.</p>
                    
                    <p> L'île de Djerba est prise en 667.</p>
                    <p> La troisième expédition, menée en 670 par Oqba Ibn Nafi al-Fihri, est décisive : ce dernier fonde la ville de Kairouan au cours de la même année et cette ville devient la base des expéditions contre le Nord et l'Ouest du Maghreb.</p>       
                </div>
            </div>
            
        </div>
    </div>
           



      
  <div id="liste_focus_accueil">
                <div class="bloc_focus_accueil">

            <div class="bloc_texte">
                <div class="cadre" style="padding-bottom:0">
                    
                    
                    <h2 class="entete" style="letter-spacing:-.1px"> Situation Geoghraphique</h2>
                    
                    <p class="indent">La Tunisie se trouve à la pointe nord de l'Afrique et n'est distante de l'Italie que d'une centaine de km. Elle est entourée au Nord et à l'Est par la Méditerranée, à l'Ouest par l'Algérie, et au Sud par la Libye.</p>

                    <p>La Tunisie a un climat méditerranéen caractérisé par un été sec et chaud et des hivers frais et humides. Les précipitations sont très irrégulières et la pluviosité varie considérablement du nord au sud. </p>
                    <p> Le pays se subdivise en quatre grandes unités géographiques : les régions du nord, de l’est, du centre et du sud </p>
                     <p>Méditerranéen au nord et le long des côtes est, semi-aride à l’intérieur et dans le sud, la Tunisie bénéficie d’un soleil garanti quasiment toute l’année. </p>

                    <p>L’hiver y est frais et humide au nord et doux et sec au sud. La température moyenne est de 16°. </p>
 
                   <p>L’été est agréable sur la côte grâce à la brise marine et sec et chaud dans les autres régions. La température moyenne est de 31°.</p>         
                </div>
            </div>
            
            <div class="bloc_media">
                 <div class="bloc droite">
                    <a ><img src="assets/image/801.jpg" class="imagegrande4" alt="Monet's house in Giverny"></a>
                </div>
            </div>
        </div>
    </div>




           <div id="liste_focus_accueil">
                <div class="bloc_focus_accueil">
            <div class="bloc_texte">
                <div class="cadre" style="padding-bottom:0">
                    
                    
                    <h2 class="entete" style="letter-spacing:-.1px"> l'hiver en Tunisie</h2>
                    
                    <p class="indent">De tous les pays du Maghreb, la Tunisie est celui où il neige le moins. En moyenne, on compte moins de dix jours de neige par an. </p>

                     <p>De plus, la date à laquelle la neige apparaît ou disparaît est des plus irrégulières. Néanmoins, la neige survient surtout en janvier et en février.</p>

                     <p> Il faut aussi noter que les jours de neige sont généralement isolés et que leur persistance est surtout observée dans la région de Ain Draham </p>

                         
                </div>
                  </div>
            
            <div class="bloc_media">
                <div class="bloc gauche">
                    <div class="haut">
                        <a><img src= "assets/image/53.jpg" class="imagepetite1" alt="Giverny gardens"></a>
                    </div>
                    
                    <div class="bas">
                        <a ><img src= "assets/image/51.jpg"  class="imagepetite1" alt="Impressionists museum"></a>
                    </div>
                </div>
                
                <div class="bloc droite">
                    <a ><img src="assets/image/50.jpg" class="imagegrande" alt="Monet's house in Giverny"></a>
                </div>
            </div>
        </div>
    </div>
          


  <div id="liste_focus_accueil">
                <div class="bloc_focus_accueil">
<div class="bloc_media">
                <div class="bloc gauche">
                    <div class="haut">
                        <a><img src= "assets/image/15.jpg" class="imagepetite9" alt="Giverny gardens"></a>
                    </div>
                    
                    <div class="bas">
                        <a ><img src= "assets/image/35.jpg"  class="imagepetite9" alt="Impressionists museum"></a>
                    </div>
                </div>
                
                <div class="bloc droite">
                    <a ><img src="assets/image/34.jpg" class="imagegrande12" alt="Monet's house in Giverny"></a>
                </div>
            </div>
            <div class="bloc_texte2">
                <div class="cadre" style="padding-bottom:0">
                    
                    
                    <h2 class="entete" style="letter-spacing:-.1px"> Sahara Tunisien</h2>
                    
                    <p class="indent">Le Sahara tunisien est la partie sud et ouest de la Tunisie, principalement occupée par des déserts. Outre des dunes de sable, des plaines rocailleuses et des oasis, on y trouve des lacs salés qui sont à sec la majeure partie de l'année mais aussi des sites archéologiques importants.</p>

<p>Le Sahara tunisien, regroupant les steppes arides de l'Ouest du pays et les déserts du Sud, est une région de la Tunisie essentiellement fréquentée pour ses paysages, bien que la patrimoine historique et culturel ne soit pas négligeable. .</p>
      
                </div>
            </div>
            
        </div>
    </div>
             

