<!DOCTYPE html>

<section>
<head>
<base href="https://fs6.formsite.com/ZSGA2K/" />
<meta http-equiv="cache-control" content="no-store" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@formsite" />
<meta property="og:title" content="Hotel Reservation Form" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://fs6.formsite.com/ZSGA2K/thyorjvra1/index.html" />
<meta property="og:site_name" content="Formsite" />
<meta property="og:description" content="View this form on Formsite" />
<meta property="og:image" content="https://fs6.formsite.com/images/social/twitter-share.jpg" />
<meta property="fb:admins" content="150429050199"/>
<title>Hotel Reservation Form</title>
<link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css" />
<link rel="stylesheet" media="all" href="/include/form/fonts8.css?9140390779549" />
<link rel="stylesheet" media="all" href="/include/form/screen8.css?9140390779549" />
<link rel="stylesheet" media="print" href="/include/form/print8.css?9140390779549" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" media="screen" href="/include/form/responsive8.css?9140390779549" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/include/form/form8.js?9140390779549"></script>
</head>

<form #bookingForm="ngForm" (ngSubmit)="submitBookingData(bookingForm)">

<!-- BEGIN_ITEMS -->
<div class="form_table">

<div class="clear"></div>

<div id="q31" class="q full_width">
<a class="item_anchor" name="ItemAnchor0"></a>
<div class="segment_header" style="background:#C8A73A;width:auto;text-align:Center;"><h1 style="font-weight:bold;font-size:30px;font-family:'Muli',sans-serif;padding:50px 1em ;">Vos  Coordonnées</h1></div>
</div>

<div class="clear"></div>

<div id="q33" class="q full_width">
<a class="item_anchor" name="ItemAnchor1"></a>
<div class="full_width_space"><div>&nbsp;</div>
<div>
<h2 class="h3"><span style="font-size: 20px; color: #D4AA22;"><em><strong>Vos informations</strong></em></span></h2>
</div></div>
</div>

<div class="clear"></div>

<div id="q41" class="q required">
<a class="item_anchor" name="ItemAnchor2"></a>
<label class="question top_question" for="RESULT_TextField-3">Civilité&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<table class="inline_grid choices">
<tr><td><input type="radio" class="multiple_choice" value="Mr" #civility="ngModel" 
        [(ngModel)]="booking.civility" /><label for="RESULT_RadioButton-2_0">Mr</label><td><input type="radio" class="multiple_choice" value="Mme" #civility="ngModel" 
        [(ngModel)]="booking.civility" /><label for="RESULT_RadioButton-2_1">Mme</label><td><input type="radio" class="multiple_choice" value="Mlle" #civility="ngModel" 
        [(ngModel)]="booking.civility" /><label for="RESULT_RadioButton-2_2">Mlle</label></tr>
</table>
</div>

<div class="clear"></div>

<div id="q3" class="q required">
<a class="item_anchor" name="ItemAnchor3"></a>
<label class="question top_question" for="RESULT_TextField-3">Prénom&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<input type="text" name="RESULT_TextField-3" class="text_field" id="RESULT_TextField-3"  size="35" value="" #firstName="ngModel" 
        [(ngModel)]="booking.firstName"/>
</div>
<div id="q4" class="q required">
<a class="item_anchor" name="ItemAnchor4"></a>
<label class="question top_question" for="RESULT_TextField-4">Nom&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<input type="text" name="RESULT_TextField-4" class="text_field" id="RESULT_TextField-4"  size="35" value="" #lastName="ngModel" 
        [(ngModel)]="booking.lastName"/>
</div>

<div class="clear"></div>

<div id="q5" class="q required">
<a class="item_anchor" name="ItemAnchor5"></a>
<label class="question top_question" for="RESULT_TextField-5">Mobile&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<input type="text" name="RESULT_TextField-5" class="text_field" id="RESULT_TextField-5"  size="35" value="" #mobile="ngModel" 
        [(ngModel)]="booking.mobile"/>
</div>
<div id="q50" class="q required">
<a class="item_anchor" name="ItemAnchor6"></a>
<label class="question top_question" for="RESULT_TextField-6">Votre Email&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<input type="email" name="RESULT_TextField-6" class="text_field" id="RESULT_TextField-6"  size="35" value="" #email="ngModel" 
        [(ngModel)]="booking.email"/>
</div>

<div class="clear"></div>

<div id="q49" class="q full_width">
<a class="item_anchor" name="ItemAnchor7"></a>
<div class="full_width_space"><div>&nbsp;</div>
<div>
<h2 class="h3"><strong><span style="font-size: 20px; color: #D4AA22;"><em>Informations sur l'occupation</em></span></strong></h2>
</div></div>
</div>

<div class="clear"></div>

<div id="q16" class="q required">
<a class="item_anchor" name="ItemAnchor8"></a>
<label class="question top_question" for="RESULT_TextField-8">Arrivée&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<input #dateArrival="ngModel" 
        [(ngModel)]="booking.dateArrival" type="text" name="RESULT_TextField-8" class="text_field calendar_field" id="RESULT_TextField-8" size="10" maxlength="10" datemax="" datemin="" value="" date="mm/dd/yy" />&nbsp;<span class="icon_calendar"><span class="accessibility_hidden">+</span></span>
</div>
<div id="q17" class="q required">
<a class="item_anchor" name="ItemAnchor9"></a>
<label class="question top_question" for="RESULT_RadioButton-9">heure d'arrivée&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<select  #arrivingTime="ngModel" 
        [(ngModel)]="booking.arrivingTime" id="RESULT_RadioButton-9" name="RESULT_RadioButton-9" class="drop_down">
<option></option>
<option value="Matin">Matin</option>
<option value="Aprés midi">Aprés midi</option>
<option value="Soir">Soir</option>
</select>
</div>
<div id="q19" class="q required">
<a class="item_anchor" name="ItemAnchor10"></a>
<label class="question top_question" for="RESULT_TextField-10">Départ&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<input #dateDeparture="ngModel" 
        [(ngModel)]="booking.dateDeparture"  type="text" name="RESULT_TextField-10" class="text_field calendar_field" id="RESULT_TextField-10" size="10" maxlength="10" datemax="" datemin="" value="" date="mm/dd/yy" />&nbsp;<span class="icon_calendar"><span class="accessibility_hidden">+</span></span>
</div>
<div id="q20" class="q required">
<a class="item_anchor" name="ItemAnchor11"></a>
<label class="question top_question" for="RESULT_RadioButton-11">heure de départ&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<select id="RESULT_RadioButton-11" #departureTime="ngModel" 
        [(ngModel)]="booking.departureTime" name="RESULT_RadioButton-11" class="drop_down">
<option></option>
<option value="Matin">Matin</option>
<option value="Après Midi">Après Midi</option>
<option value="Soir">Soir</option>
</select>
</div>

<div class="clear"></div>

<div id="q14" class="q required">
<a class="item_anchor" name="ItemAnchor12"></a>
<span class="question top_question"> Chambre &nbsp;<b class="icon_required" style="color:#F00">*</b></span>
<table class="inline_grid choices">
<tr><td><input type="radio" #roomType="ngModel" 
        [(ngModel)]="booking.roomType" name="RESULT_RadioButton-12" class="multiple_choice" id="RESULT_RadioButton-12_0" value="classique" /><label for="RESULT_RadioButton-12_0">classique</label><td><input type="radio" name="RESULT_RadioButton-12" class="multiple_choice" id="RESULT_RadioButton-12_1" value="De luxe" /><label for="RESULT_RadioButton-12_1">De luxe</label><td><input type="radio" name="RESULT_RadioButton-12" class="multiple_choice" id="RESULT_RadioButton-12_2" value="Suite" /><label for="RESULT_RadioButton-12_2">Suite</label></tr>
</table>
</div>

<div class="clear"></div>

<div id="q48" class="q required">
<a class="item_anchor" name="ItemAnchor13"></a>
<label class="question left_question_first" for="RESULT_RadioButton-13">adultes&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<select id="RESULT_RadioButton-13" #adultCounts="ngModel" 
        [(ngModel)]="booking.adultCounts" name="RESULT_RadioButton-13" class="drop_down inline_answer">
<option></option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select>
</div>
<div id="q47" class="q required">
<a class="item_anchor" name="ItemAnchor14"></a>
<label class="question left_question" for="RESULT_RadioButton-14">enfants&nbsp;<b class="icon_required" style="color:#F00">*</b></label>
<select id="RESULT_RadioButton-14" #childrenCounts="ngModel" 
        [(ngModel)]="booking.childrenCounts" name="RESULT_RadioButton-14" class="drop_down inline_answer">
<option></option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select>
</div>

<div class="clear"></div>

<div id="q22" class="q">
<a class="item_anchor" name="ItemAnchor15"></a>
<label class="question top_question" for="RESULT_TextArea-15">instructions spéciales</label>
<textarea name="RESULT_TextArea-15" #specialInstructions="ngModel" 
        [(ngModel)]="booking.specialInstructions" class="text_field" id="RESULT_TextArea-15" rows="5" cols="60"></textarea>
</div>

<div class="clear"></div>

<div id="q44" class="q full_width">
<a class="item_anchor" name="ItemAnchor16"></a>
<div class="full_width_space"><div>&nbsp;</div>
<div>
<h2 class="h3"><span style="color: #D4AA22;"><em><strong>Choisir le mode de paiement qui vous convient</strong></em></span></h2>
</div></div>
</div>

<div class="clear"></div>

<div id="q45" class="q required">
<a class="item_anchor" name="ItemAnchor17"></a>
<span class="question top_question">&nbsp;<b class="icon_required" style="color:#F00">*</b></span>
<table class="inline_grid choices">
<tr><td><input type="radio" name="paymentType" #paymentType="ngModel" 
        [(ngModel)]="booking.paymentType"  class="multiple_choice" id="paymentType" value="paie total agence" /><label for="RESULT_CheckBox-17_0">Je paie le montant total à l'agence</label></tr>
<tr><td><input type="radio" #paymentType="ngModel" 
        [(ngModel)]="booking.paymentType" name="paymentType" class="multiple_choice" id="paymentType" value="paie acompte agence et acomptr hôtel" /><label for="RESULT_CheckBox-17_1">Je paie un acompte à l'agence  et le reste à l'hôtel</label></tr>
</table>
</div>

<div class="clear"></div>

<div style="position:relative;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:12px;line-height:36px;text-align:left;background-color:#FAFAFA;height:35px;margin-top:10px;overflow:hidden;">

</div>
</div>
<!-- END_ITEMS -->
<div class="outside_container">
<div class="buttons_reverse"><input type="submit" name="Submit" value="Réserver" class="submit_button" id="FSsubmit" /></div>
</div>
</form>
</section>

