<!DOCTYPE html>

     <header> 
  <section
     class="container">
      <span class="big-circle"></span>
      <img src="assets/image/123.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title"> Voici où vous pouvez nous trouver !</h3>
          <p class="text">
            Nous restons à votre disposition pour toute information que vous souhaiter connaître. 
          </p>
          <div class="info">
            <div class="information">
              <img src="assets/image/1234.png" class="icon" alt="" />
              <p>7, Avenue Mohamed Melki 1005 El Omrane</p>
            </div>
            <div class="information">
              <img src="assets/image/e.png" class="icon" alt="" />
              <p>Inesbenjemaa@gmail.com</p>
            </div>
            <div class="information">
              <img src="assets/image/777.png.crdownload" class="icon" alt="" />
              <p>(216) 71 977 195</p>
            </div>
          </div>

          <div class="social-media">
            <p>Communiquez avec nous :</p>
            <div class="social-icons">
              <a href="#">
                   <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
              <a href="#">
                   <fa-icon [icon]="faTwitter"></fa-icon>
              </a>
              <a href="#">
                   <fa-icon [icon]="faInstagram"></fa-icon>
              </a>
              <a href="#">
                   <fa-icon [icon]="faLinkedinIn"></fa-icon>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form #contactForm="ngForm" (ngSubmit)="submitContactData(contactForm)">
            <h3 class="title">Contactez-nous</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" placeholder="Nom"#name="ngModel" 
        [(ngModel)]="contact.name" />
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" placeholder="Email" #email="ngModel" 
        [(ngModel)]="contact.email" />
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" placeholder="Téléphone" #mobile="ngModel" 
        [(ngModel)]="contact.mobile" />
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input" placeholder="Message" #message="ngModel" 
        [(ngModel)]="contact.message" ></textarea>
            </div>
            <input type="submit" value="Envoyer" class="btn" />
          </form>
        </div>
      </div>

     <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script src="contacts.component.ts"></script>
  </section>


</header>



