<div class="header">
            
                <div class="slider">
                    <div class="leftside">
                        <div class="container">
                            <h2>The <span>Future</span></h2>
                            <br>
                            <p class="parag">
                                The Future Is Here In Your Hands.
                            </p>
                            <br>
                            <hr class="hr">
                            <br>
                            <p class="text">
                                Just imagine what you want to learn and you will find it here<br>
                                We have the best in the world in this filed<br>
                                We all pleased to help you makeing your future better.
                            </p>
                            <br>
                            <hr class="hr">
                            <br>
                            <p class="pdf">About Tracks & Instructors</p>
                            <br>
                            
                        </div>
                    </div>
                   
                    <div class="col50">
        <div class="img">
            <img src="assets/image/3.jpg" alt="">
        </div>   
       </div>
                </div>
                
           <div id="liste_focus_accueil">
                <div class="bloc_focus_accueil">
            <div class="bloc_texte">
                <div class="cadre" style="padding-bottom:0">
                    <div class="entete">
                        <hr><h2 class="titre_bloc titre_style_edito">GETAWAYS NEAR PARIS</h2>
                    </div>
                    
                    <h3 class="titre" style="letter-spacing:-.1px">A bucolic break out of time!</h3>
                    
                    <p class="indent">A specialist in getaways near Paris, France Tourisme offers a wide range of excursions departing from Paris, with air-conditioned minibus and local guide. The half-day getaway to Giverny and offers you an opportunity to escape from Paris while enjoying a timeless bucolic break.</p>

                    <p>Located 80 kilometers from Paris, Giverny is a charming village on the borders of Ile de France and Normandy. This is where Claude Monet decided to reside and satisfy his passion for painting, gardening and photography.</p>
                    
                    <p>The Musée des Impressionnismes is dedicated to the Impressionist current, but also proposes to explore this aesthetic current beyond the circle of painters usually recognized, both upstream (the precursors) and downstream (the currents after the Second World War and even in contemporary art).</p>
                    
                    <p class="centre"><b>Benefit from our know-how and experience<br>
                    at France Tourisme for an unmissable getaway!</b></p>
                    
                    
                </div>
            </div>
            
            <div class="bloc_media">
                <div class="bloc gauche">
                    <div class="haut">
                        <a><img src= "assets/image/3.jpg" class="imagepetitea" alt="Giverny gardens"></a>
                    </div>
                    
                    <div class="bas">
                        <a ><img src= "assets/image/3.jpg"  class="imagepetite" alt="Impressionists museum"></a>
                    </div>
                </div>
                
                <div class="bloc droite">
                    <a ><img src="assets/image/3.jpg" class="imagegrande" alt="Monet's house in Giverny"></a>
                </div>
            </div>
        </div>
    </div>
            
      </div>

                
           
