<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

   <body>
        <div class="background">
           
            <div class="upper-line--dashed"></div>
            <div class="shape-group--upper-left">
                <div class="triangular-right--upper-left--orange">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="0,0 0,100 100,0 0,0" style="fill:#ffad00;" />
                    </svg>
                </div>
                <div class="triangular-right--upper-left--yellow">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="0,0 0,100 100,0 0,0" style="fill:#f8de01;" />
                    </svg>
                </div>
            </div>
            <div class="polygon--upper-right--yellow">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="43,0 100,0 100,100 47,100 0,46 43,0" style="fill:#f8de01;" />
                    <!-- x,y -->
                </svg>
            </div>
            <div class="triangle--middle-right--orange">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="100,0 100,100 55,50 100,0" style="fill:#ffad00;" />
                </svg>
            </div>
            <div class="triangle--bottom-left--yellow">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="0,0 55,50 0,100 0,0" style="fill:#f8de01;" />
                </svg>
            </div>
            <div class="triangle--bottom-left--orange">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="0,0 0,100 100,100 0,0" style="fill:#ffad00;" />
                </svg>
            </div>
            <div class="big-polygon-pane--up">
                <svg viewBox="0 0 100 69" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                    <polygon points="100,0 100,69 0,57 0,12 100,0" style="fill:#dde7e9;" />
                </svg>
            </div>
            <div class="big-polygon-pane--center">
                <svg viewBox="0 0 100 51" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="0,0 100,12 100,39 0,51 0,0" style="fill:#fff;" />
                </svg>
            </div>
            <div class="big-polygon-pane--down">
                <svg viewBox="0 0 100 55" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="100,0 100,55 0,43 0,12 100,0" style="fill:#ffad00;" />
                </svg>
            </div>
            <div class="big-polygon-pane--very-down">
                <svg viewBox="0 0 100 36" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="0,0 100,12 100,24 0,36 0,0" style="fill:#222222" />
                </svg>
            </div>
            <div class="big-polygon-pane--last-element">
                <svg viewBox="0 0 100 32" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="0,12 100,0 100,100 0,100 0,12" style="fill:rgb(0, 0, 0);" />
                </svg>
            </div>
        </div>

        <div class="boost-power">
            <div class="bike">
                <div class="bike__container">
                    
                    <img class="bike__cyclist"  src="assets/image/2e.jpg">
                </div>
            </div>
            
            <div class="slogan">
                <div style="position:relative;">
                    <p class="slogan__title">Activités en plein air à Tunisie</p>
                    <p class="slogan__content">Excursion d'une journée complète au départ de Tozeur: Tamerza, Chebika, Mides Canyons et Star Wars.</p>
                </div>
            </div>
        </div>
      
        <div class="offers">
            <div class="center--hor">
                <div class="offers__container">
                    

                    <div class="offers-wrapper">
                        <div class="offer__tiles">
                            <div class="tiles--fit-man__shape">
                                <svg viewBox="0 0 100 90" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="54,0 100,0 100,90 0,90 54,0" style="fill:#f8de01;" />
                                </svg>
                            </div>
                            <img class="offer__tiles__image--fit-man" src="assets/image/5e.jpg">
                            <p class="tiles__title--light">SAFARI 4x4 de 2 jours au départ de Sousse</p>
                            <p class="tiles__content--light"> vous visiterez deux oasis, deux lieux utilisés dans "Star Wars", deux types de désert dont l'erg, deux lacs salés, des maisons troglodytes, les montagnes de l'Atlas </p>
                            
                        </div>
                        <div class="offer__tiles">
                            <div class="tiles--fit_woman__shape">
                                <svg viewBox="0 0 275 140" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,0 220,0 130,140 0,140 0,0" style="fill:#f8de01;" />
                                </svg>
                            </div>
                            <img class="offer__tiles__image--fit-woman" src="assets/image/4a.jpg">
                            <p class="tiles__title--dark">Aventure d'une journée en buggy dans le désert du Sahara, au départ de Douz</p>
                            <p class="tiles__content--dark">Dévalez les dunes tunisiennes dans un buggy Polaris 1000 RZR lors d'une aventure de 4 heures dans le désert du Sahara au départ de Douz</p>
                            
                        </div>
                        <div class="offer__tiles">
                            <div class="tiles--dressed-man__shape">
                                <svg viewBox="0 0 275 140" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,0 220,0 130,140 0,140 0,0" style="fill:#f8de01;" />
                                </svg>
                            </div>
                            <img class="offer__tiles__image--dressed-man" src="assets/image/4f.jpg">
                            <p class="tiles__title--dark">Excursion de 2 jours à dos de chameau dans le désert du Sahara en Tunisie</p>
                            <p class="tiles__content--dark">Avec un guide pour vous montrer le maniement des chameaux et vous donner des informations intéressantes sur les curiosités</p>
                          
                        </div>
                        <div class="offer__tiles">
                            <div class="tiles--fit-couple__shape">
                                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="66,0 100,0 100,100 0,100 66,0" style="fill:#f8de01;" />
                                </svg>
                            </div>
                            <img class="offer__tiles__image--fit-couple" src="assets/image/177.jpg">
                            <p class="tiles__title--light">Nuit Tunisie Safari dans le désert du Sahara en 4x4 de Douz</p>
                            <p class="tiles__content--light"> Repérez la faune locale dans une réserve naturelle, dînez autour d'un succulent dîner de quatre plats et dormez sous les escaliers dans un camping de style bédouin</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="newst-products">
            <div class="center">
                <span class="newst-products__title">Sites Historiques à Tunisie</span>
            </div>
            <div class="center">
                <span class="newst-products__desc"></span>
            </div>
            
            <div class="center--hor">
                <div class="products-wrapper__container">
                    <div class="products-wrapper">
                        <div class="product">
                            <div>
                                <img class="center--block"src="assets/image/60.jpg">
                            </div>
                            <p>Musée du Bardo Tunis</p>
                            
                        </div>
                        <div class="product">
                            <div>
                                <img class="center--block" src="assets/image/61.jpg">
                            </div>
                            <p> El ghriba Synagogue Djerba</p>
                           
                        </div>
                        <div class="product">
                            <div>
                                <img class="center--block"src="assets/image/62.webp">
                            </div>
                            <p>El Jem</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="performance--up">
         <div class="center">
                <span class="newst-products__title">Activités nautiques</span>
            </div>
            <div>
                <img class="performance--up__image" src="assets/image/7894.jpg">
                <div class="performance--up__info">
                    <h1>Sortie en bateau privatisé Haouaria</h1>
                    <p>En comité réduit, offrez-vous une journée à bord de l’un de nos bateaux, exclusivement privatisé pour vous.
         Partez à la découverte des innombrables spots de baignade ou de snorkeling d’El Haouaria. 
Profitez d’une journée où le bateau et son équipage seront à votre disposition pour la balade mais aussi pour vous servir un déjeuner à base de fruits de mer et langouste ou cigale de mer en plat principal. </p>

                </div>
            </div>
        </div>

        <div class="performance--down">
            <div>
                <img class="performance--down__image" src="assets/image/89.jpg">
                <div class="performance--down__info">
                    <h1>Balade en kayak en mer</h1>
                    <p>Parcourez, le temps d’une journée, les criques de la pointe du Cap Bon à bord de kayaks double, confortables et sécurisés, avec débarquement sur une crique équipée pour vous recevoir et y déjeuner.
Notre guide se fera un plaisir de vous faire découvrir un paysage côtier que vous ne serez pas prêt d’oublier.
</p>
                    
                </div>
            </div>
        </div>
        <div class="newsletter">
            <div class="newsletter__wrapper">
                <div class="newsletter__info">
                    <img class="performance--up__image1" src="assets/image/741.jpg">
                    <h1>Nature et Loisirs !</h1>

                    <div class="newsletter__info__discount">
                        Birdwatching, Observation Ornitho à El Haouaria
                    </div>

                </div>
                <div class="newsletter__info">
                    <img class="performance--up__image12" src="assets/image/7418.jpg">
                    

                   
                   

                </div>
              
            </div>
        </div>
       </body>
</html>
