<!DOCTYPE html>
 

<section  class="banniere" id="banniere">

        <div class=" contenu">
            <h2> Introduction </h2>
            <p>  La Tunisie a été toujours un carrefour de civilisations. Ses premiers habitants étaient les Numides. Vers 814 av .J.C. les Phéniciens s'y installèrent et fondèrent Carthage, suivis par les Romains, les Barbares, les Arabes, les Turcs, les Andalous , les Italiens, et les Français. Ce brassage de peuples de diverses civilisations a fait de la Tunisie un pays multiculturel, tolérant et accueillant.
          
            </p>

            <div class="food-search text-center">
        <div class="container">
            
            <form action="food-search.html" method="POST">
                <input type="search" name="search" placeholder="Rechercher ..." required>
                <input type="submit" name="submit" value="Search" class="btn btn-primary">
            </form>
        </div>
    </div>
        </div>
     </section>

     <section class="apropos" id="apropos">
    <div class="seven">
           <h1>A ne pas Manquer</h1>
           </div>
       <div class="row">
        <div class="col50">

           <h3> Les plages paradisiaques à découvrir en Tunisie</h3>
           
           <p>Dotée de richesses naturelles inépuisables, La Tunisie offre à ses habitants ainsi qu’à ses visiteurs un choix divers d’attractions et d’activités balnéaires.  Que vous serez amateurs des escalades aux montagnes rocheuses, ou plutôt amoureux des plages sablonneuses, La Tunisie saura toujours vous satisfaire. Avec  800 km de plages sur sa côte maritime, la Tunisie regorge de magnifiques plages réputées mondialement.
           </p>
        </div>
       <div class="col50">
        <div class="img">
            <img src="assets/image/3.jpg" alt="">
        </div>   
       </div>
   </div>

   <section class="apropos" id="apropos ">
       <div class="row">
        
       <div class="col54">
        <div class="img">
            <img src="assets/image/2.jpg" alt="image">
        </div>   
       </div>
       <div class="col50">
           <h3> une terre d'artisanat authentique et design </h3>
           <p> La richesse culturelle du Tunisie passe aussi par son artisanat traditionnel qui depuis quelques années déjà existe aussi en version plus design.Divers et multiples matériaux sont finement travaillés à la main avec des machines et des outils restés largement traditionnels, pour en faire des objets décoratifs et usuels. Art de table, ameublement, bijoux et habillement, vous serez certainement tentés d'emporter avec vous quelques souvenirs tunisiennes !  
           </p>
        </div>
    </div>
    <section class="apropos" id="apropos">

       <div class="row">
        <div class="col58">

           <h3> Les  sites tunisiens classés au patrimoine mondial de l’UNESCO</h3>
           
           <p> La Tunisie est un pays qui est aussi riche de sa nature et ses paysages que de son patrimoine historique et culturel authentique et préservé, malgré sa petite superficie. Ce pays fut depuis toujours marqué par les différentes civilisations qui se sont succédé sur son territoire, ce qui lui a permis de se distinguer d’une diversité culturelle impressionnante et d’un  riche patrimoine historique qui met en valeur les empreintes des civilisations ancestrales.  
           </p>
        </div>
       <div class="col58">
        <div class="img">
            <img src="assets/image/122.jpg" alt="image">
        </div>   
       </div>
   </div>
</section> 
   </section> 

       </section> 






   









    
    <section 
class="images" id ="images">
    <div class="titre">
        <h2 class="titre-texte" >Bienvenue en Tunisie</h2>  
    </div>

    <div class="contenu">
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/1.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Carthage</h3>
                
            </div>

            
        </div>

        <div class="box">
            <div class="imbox" >
                <img src="assets/image/30.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Tataouine</h3>
                
            </div>

            
        </div>

        <div class="box">
            <div class="imbox" >
                <img src="assets/image/6.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Sidi bou said</h3>
                
            </div>
        </div>
<div class="box">
            <div class="imbox" >
                <img src="assets/image/40.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Djerbahood</h3>
                
            </div>
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/70.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>Tozeur</h3>
                
            </div>
        </div>
        <div class="box">
            <div class="imbox" >
                <img src="assets/image/80.jpg" alt="image">
                
            </div>

            <div class="text">
                <h3>El Djem</h3>
                
            </div>
        </div>

        
    </div>

                 <div class="titre">
                    <a href="#" class="btn1"> Voir plus </a>
                
            </div>


    
</section>

<section class="temoignage" id="temoignage">
    <div class="titre blanc">
        <h2 class="titre-texte">Que Disent Nos  visiteurs</h2>
        
    </div>
    <div class="contenu">
        <div class="box">
            <div class="imbox">
                <img src="assets/image/300.jpg" alt="">
            </div>
            <div class="text">
                <p>c'est une voyage excellente . j'etais en hammamet et djarba et sousse .ils ont les meilleurs plages et lel peuple en tunisia sont tres gentils et j'aime avoir une auter voyage la bas. je peut pas trouver les most pour donner mon avis car elle est une pays incroyable</p>
                <h3>Monna</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="assets/image/400.jpg" alt="">
            </div>
            <div class="text">
                <p>
   Très belle expérience - Loin des grandes infrastructures touristiques - Passionnante découverte du désert de sable et de la vie des méharées - L'agence locale a totalement respecté les choix que nous lui avions indiqué tout en nous proposant en plus de belles découvertes.</p>
                <h3>Marie Chabal</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="assets/image/700.webp" alt="">
            </div>
            <div class="text">
                <p>Nous sommes ravis d’avoir choisi un voyage sur mesure qui a parfaitement répondu à notre attente. Le fait d’être pris en charge tous les cinq nous a permis de visiter beaucoup d’endroits variés et hors des sites touristiques. Les différents paysages nous ont enchanté et chaque jour était le début de nouvelles découvertes.
</p>
                <h3>Hubert</h3>
            </div>
        </div>
    </div>
 </section>




   