*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
 

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image:   url('~src/assets/image/7.jpg');
    background-size: cover;

}

.banniere .contenu{
    max-width: 90%;
    text-align: center;
   

}
.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;

}
.contenu p:nth-child(2){
    color: #fff;
    font-size: 1.3em;

}


.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.food-search{
     
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
} 

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #1fbdfb;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #1fbdfb;
}

section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.seven h1 {
text-align: center;
    font-size:50px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: capitalize;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;

   
}

.seven h1:after,.seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #1fbdfb;
    border-top: 1px solid #1fbdfb;
    height: 5px;
  background-color:#f8f8f8;

}

.row .col50{
    position: relative;
    top: 70px; left: 00px;
    width: 48%;
    justify-content: center;
    align-items: center;
}

.row .col50 h3{
    margin-bottom: 20px;
}
.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize ;

}

.row .col50 img{
    height: 450px;
    width: 700px;
    position: relative;
    top: 00px; left: 10px;
    
}

.row .col54 img{
    height: 450px;
    width: 700px;
    position: relative;
    top: 00px; left: 00px;
    left: -110px;

}
.row .col54{
    position: relative;
    top: 70px; left: 00px;
    width: 60%;
    justify-content: center;
    align-items: center;

}

.row .col54 h3{
    margin-bottom: 20px;
}
.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize ;

}
.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row .col58{
    position: relative;
    top: 70px; left: 00px;
    width: 48%;
    justify-content: center;
    align-items: center;
}

.row .col58 h3{
    margin-bottom: 20px;
}
.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize ;

}

.row .col58 img{
    height: 450px;
    width: 700px;
    position: relative;
    top: 00px; left: 10px;
    
}


.btn1{
    font-size: 1em;
    color: #fff;
    background: #1fbdfb;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    }
    .images{
    margin-top: -100px;
}



.images .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.images .contenu .box{
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
}

.images .contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 300px;
}

.images .contenu .box .imbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.images .contenu .box .text{
    text-align: center;
    font-weight: 300px;
    color: #000;
}

.images .contenu .box .text h3{
    font-weight: 400;
}


.temoignage{
   background-image:  url('~src/assets/image/11.jpg') ;
    background-size: cover;
}

.temoignage .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.temoignage .contenu .box{
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}

.temoignage .contenu .box .imbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.temoignage .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.temoignage .contenu .box .text{
    text-align: center;
    color: #666;
    font-style: italic;
}

.temoignage .contenu .box .text h3{
    color: #1fbdfb;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}

.blanc .titre-texte{
    color: #000;
}

.blanc .titre-texte,
.blanc h2{
    color: #fff;
}