<!doctype>
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  </head>
 
  
<body>

<div class="background">
  <div class="container">
    <div class="panel pricing-table">
      
      <div class="pricing-plan">
        <img src="assets/image/1222.jpg" alt="" class="pricing-img">
        <h2 class="pricing-header">Suite</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 x Suite Fell Vue Mer</li>
          <li class="pricing-features-item">Disponible</li>
          <li class="pricing-features-item">Logement Petit-déjeuner</li>
        </ul>
        <span class="pricing-price">450.00 TND</span>
        <a  class="pricing-button" (click)="gotoBooking()">Réserver</a>
      </div>
      
      <div class="pricing-plan">
        <img src="assets/image/1223.jpg"alt="" class="pricing-img">
        <h2 class="pricing-header">Suite</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 x Suite Yasmine Vue Mer</li>
          <li class="pricing-features-item">Disponible</li>
          <li class="pricing-features-item">Logement Petit-déjeuner</li>
        </ul>
        <span class="pricing-price">649.00 TND</span>
        <a  class="pricing-button is-featured" (click)="gotoBooking()">Réserver</a>
      </div>
      
      <div class="pricing-plan">
        <img src="assets/image/77.jpg" alt="" class="pricing-img">
        <h2 class="pricing-header">Suite</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 x Suite August Macke</li>
          <li class="pricing-features-item">Disponible</li>
          <li class="pricing-features-item">Logement Petit-déjeuner</li>
        </ul>
        <span class="pricing-price">550.00 TND</span>
        <a  class="pricing-button" (click)="gotoBooking()">Réserver</a>
      </div>
      
    </div>
  </div>
</div>


<div class="background">
  <div class="container">
    <div class="panel pricing-table">
      
      <div class="pricing-plan">
        <img src="assets/image/79.jpg" alt="" class="pricing-img">
        <h2 class="pricing-header">Suite</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 x Suite Jean Cocteau</li>
          <li class="pricing-features-item">Disponible</li>
           <li class="pricing-features-item">Logement Petit-déjeuner</li>
        </ul>
        <span class="pricing-price">600.00 TND</span>
        <a  class="pricing-button"(click)="gotoBooking()" >Réserver</a>
      </div>
      
      <div class="pricing-plan">
        <img src="assets/image/99.jpg" alt="" class="pricing-img">
        <h2 class="pricing-header">Suite</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 x Suite Nour</li>
          <li class="pricing-features-item">Disponible </li>
          <li class="pricing-features-item">Logement Petit-déjeuner</li>
        </ul>
        <span class="pricing-price">850.00 TND</span>
        <a  class="pricing-button is-featured"(click)="gotoBooking()">Réserver</a>
      </div>
      
      <div class="pricing-plan">
        <img src="assets/image/800.jpg" alt="" class="pricing-img">
        <h2 class="pricing-header">Suite</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 x Suite Paul Klee</li>
          <li class="pricing-features-item">Disponible </li>
          <li class="pricing-features-item">Logement Petit-déjeuner</li>
        </ul>
        <span class="pricing-price">350.00 TND</span>
        <a  class="pricing-button" (click)="gotoBooking()">Réserver</a>
      </div>
      
    </div>
  </div>
</div>
</body>
</html>